.carousel-item img {
    height : 200px;
    margin: auto;
}

@media (min-width: 560px){
    .carousel-item img {
        height : 500px;
        margin-right: auto;
        margin-left: auto;
    }
}